.navbar-nav a{
    font-size: 22px;
}
.navbar-brand img {
    height: 40px;
}
.navbar-nav {
    margin-left: auto; 
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 35px; 
}
.btn-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #64B6C9;
    border-radius: 50px;
    width: 150px;
    height: 60px;
    text-align: center;
}

.btn-cadastrar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
